<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Une agence <strong class="color-b">proche</strong> de vous !</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="{{ '/home' }}" class="text-decoration-none">Accueil</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              A propos
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section><!-- End Intro Single-->

<!-- ======= About Section ======= -->
<section class="section-about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about-img-box">
          <img src="../assets/img/slide-about-1.jpg" alt="" class="img-fluid">
        </div>
        <div class="sinse-box">
          <h3 class="sinse-title">Agence Immobilière
            <span></span>
            <br> Depuis 2017
          </h3>
          <p>ImmoTep</p>
        </div>
      </div>
      <div class="col-md-12 section-t8">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <img src="../assets/img/about-2.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-2  d-none d-lg-block">
            <div class="title-vertical d-flex justify-content-start">
              <span>Agence Immobilière, Des Conseil Exclusif</span>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 section-md-t3">
            <div class="title-box-d">
              <h3 class="title-d">Sed
                <span class="color-d">porttitor</span> lectus
                <br> nibh.
              </h3>
            </div>
            <p class="color-text-a">
              Depuis plus de 25 ans, nous mettons notre expérience, notre dynamisme ainsi que notre professionnalisme
              à votre service pour mener à bien rapidement toutes vos transactions.<br>

              Pour ce faire nous vous proposons : <br>
            </p>
            <ul>
              <li class="mb-2">Une agence moderne ouverte six jours sur sept, située sur un axe de grand passage (ring
                de
                Verviers),
                disposant d'un parking clientèle de 11 places, de trois vitrines pouvant accueillir les descriptifs de
                vos biens et agrémentée d'écrans faisant défiler 24h/24h les photos de ceux-ci.
              </li>
              <li class="mb-2">
                Une infrastructure informatique et bureautique performante afin de pouvoir répondre de manière
                complète à toutes les attentes de nos clients dans les plus brefs délais.
              </li>
              <li class="mb-2">
                Une assurance professionnelle responsabilité civile et exploitation couvrant le vendeur et l'acheteur.
              </li>
              <li class="mb-2">
                Une équipe à la fois soudée, complémentaire et compétente toujours à votre écoute, vous accueillant
                avec le sourire.
              </li>
              <li class="mb-2">Des conseils techniques et juridiques judicieux, dans le respect de la déontologie de
                la profession
                pour préserver aux mieux vos intérêts.
              </li>
              <li class="mb-2">Une base de donnée complète et à jour permettant un suivi personnalisé de chaque
                client.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
