<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12  p-0">
        <div class="w-100">
          <img src="assets/img/slide-3.jpg" class="w-100 parallax" alt="Responsive image">
          <div class="top-left">
            <h1 class="intro-title mb-4 text-white text-uppercase">
              Des femmes et des hommes pour <span class="color-b">votre bien </span>!
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= Services Section ======= -->
<section class="section-services section-t3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Ce qu'on vous propose</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-group"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Accompagner</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
              convallis a pellentesque
              nec, egestas non nisi.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-usd"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Vendre</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Mauris blandit
              aliquet elit, eget tincidunt
              nibh pulvinar a.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-home"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-c">Louer</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta. Praesent sapien massa,
              convallis a pellentesque
              nec, egestas non nisi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->

<!-- ======= Latest Properties Section ======= -->
<section class="property-grid grid mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Nos biens</h2>
          </div>
          <div class="title-link">
            <a class="text-decoration-none arrow-hover fw-bolder" routerLink="{{ '/property' }}"><strong>Tous nos
              biens </strong>
              <i class="arrow-hover fa fa-arrow-right arrow-more"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngFor="let property of properties | slice:0:3; let i = index">
        <a [routerLink]="['/single-property', property.id]">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="../assets/img/property-1.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">{{ property.title }}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">{{ property.price | currency:'EUR' }}</span>
                  </div>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Supérficie</h4>
                      <span>{{ property.area }}m
                          <sup>2</sup>
                        </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Chambre</h4>
                      <span>{{ property.rooms }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section><!-- End Property Grid Single-->
<section class="section-agents section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Les super agents</h2>
          </div>
          <div class="title-link">
            <a class="text-decoration-none arrow-hover fw-bolder" routerLink="{{ '/agents' }}"><strong>Tous nos
              agents </strong>
              <i class="arrow-hover fa fa-arrow-right arrow-more"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngFor="let agent of agents | slice:0:3; let i = index">
        <a [routerLink]="['/single-agent', agent.id]">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="../assets/img/agent-4.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a routerLink="{{ 'single-agent' }}" class="link-two text-decoration-none">{{ agent.name }}</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-text-a">
                  <p>
                    <strong>Téléphone: </strong> {{ agent.portable }}
                  </p>
                  <p>
                    <strong>Email: </strong> <a href="mailto:{{ agent.email }}"
                                                class="text-decoration-none color-text-a">{{ agent.email }} </a>
                  </p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section><!-- End Agents Grid-->
